.product-details {
    text-align: center;
    margin-top: 50px;
}
.product-image-container {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.product-details img {
    width: 300px;
    height: 300px;
}
.product-details h1 {
    font-size: 2em;
    margin: 20px 0;
}
.product-details p {
    font-size: 1.5em;
    color: red;
    margin-bottom: 60px;
}
.buy-button {
    background-color: #1f2020;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    width: 15%;
    transition: background-color 0.3s;
    text-decoration: none; 
    display: inline-block;
}
.buy-button:hover {
    background-color: #333;
}
