body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.signup-container {
    background-color: #fff;
    width: 350px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.logo {
    width: 100px;
    margin: 0 auto 20px; /* 로고를 가운데 정렬하고 아래 여백 추가 */
}
.logo img {
    margin: 0 auto 20px; /* 로고를 가운데 정렬하고 아래 여백 추가 */
}
.logo h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    background-color: #1f2020;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}
.form-group input[type="submit"]:hover {
    background-color: #1f2020;
}